<div class="example-header" fxLayout="row">

  <!-- Header -->
  <div
    class="bg-card relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-4 borders-b">

    <!-- Title -->
    <div class="text-2xl font-extrabold tracking-tight">
      <div class="flex-auto p-4 sm:p-4 user-heading">
        User Management
      </div>
      @if(loadData) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </div>

    <div class="flex-auto p-4 sm:p-4 card-padding">
      @if(userData?.length>0) {
      <div class="bg-card mat-elevation-z8  flex flex-col flex-auto justify">

        <table mat-table [dataSource]="userData" multiTemplateDataRows class=" table-sample">
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> User Name </th>
            <td mat-cell *matCellDef="let element"> {{element?.firstName}} {{element?.maidenName}} {{element?.lastName}}
            </td>
          </ng-container>

          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Age</th>
            <td mat-cell *matCellDef="let element"> {{element?.age}} </td>
          </ng-container>


          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Gender</th>
            <td mat-cell *matCellDef="let element"> {{element?.gender}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
          </ng-container>



          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let element"> {{element?.phone}} </td>
          </ng-container>

          <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef>Birth Date</th>
            <td mat-cell *matCellDef="let element"> {{element?.birthDate | date: 'YYYY-MM-dd'}} </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div [@detailExpand]="element.show ? 'expanded' : 'collapsed'">
                <div class="example-element-description">
                  <form [formGroup]="userForm" (ngSubmit)="saveUser()">
                    <mat-form-field fxFlex="33" class="pl-4" appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input matInput [formControlName]="'firstName'">
                      @if(userForm.get('gender').hasError('required')){
                        <mat-error> Enter firstName! </mat-error>
                      }
                    </mat-form-field>

                    <mat-form-field fxFlex="33" class="pl-4" appearance="outline">
                      <mat-label>Maiden Name</mat-label>
                      <input matInput [formControlName]="'maidenName'">
                      @if(userForm.get('maidenName').hasError('required')){
                        <mat-error> Enter firstName! </mat-error>
                      }
                    </mat-form-field>


                    <mat-form-field fxFlex="33" class="pl-4" appearance="outline">
                      <mat-label>Last Name</mat-label>
                      <input matInput [formControlName]="'lastName'">
                      @if(userForm.get('lastName').hasError('required')){
                        <mat-error> Enter lastName! </mat-error>
                      }
                    </mat-form-field>

                    <mat-form-field fxFlex="33" class="pl-4" appearance="outline">
                      <mat-label>Age</mat-label>
                      <input matInput [formControlName]="'age'">
                      @if(userForm.get('age').hasError('required')) {
                        <mat-error> Enter Age! </mat-error>
                      }
                    </mat-form-field>

                    <mat-form-field fxFlex="33" class="pl-4" appearance="outline">
                      <mat-label>Gender</mat-label>
                      <mat-select [formControlName]="'gender'" placeholder="Gender">
                        @for (gender of genderArray; track gender) {
                        <mat-option [value]="gender.value">{{gender.name}}</mat-option>
                          @if(userForm.get('gender').hasError('required')) {
                          <mat-error> Enter Gender!</mat-error>
                          }
                        }
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex="33" class="pl-4" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput [formControlName]="'email'">
                      @if(userForm.get('email').hasError('required')) {
                      <mat-error> Enter Email!</mat-error>
                      }
                      @if(userForm.get('email').hasError('pattern')) {
                      <mat-error>Enter Valid Email Address </mat-error>
                      }
                    </mat-form-field>

                    <mat-form-field fxFlex="33" class="pl-4" appearance="outline">
                      <mat-label>Phone</mat-label>
                      <input matInput [formControlName]="'phone'">
                      @if(userForm.get('phone').hasError('required')) {
                        <mat-error> Enter Phone Number! </mat-error>
                      }
                    </mat-form-field>

                    <mat-form-field fxFlex="33" class="pl-4" appearance="outline">
                      <mat-label>Birth Date</mat-label>
                      <input matInput [matDatepicker]="picker" [formControlName]="'birthDate'">
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      @if(userForm.get('birthDate').hasError('required')){
                        <mat-error> Select Birth Date!</mat-error>
                      }
                    </mat-form-field>

                    <div class="m-2 px-4" fxLayout="row" fxLayoutAlign="start start" align="start">
                      <button color="primary" mat-raised-button type="submit" class="save-btn" [disabled]="save">
                        <b>Save</b>
                        @if(disabledSpinner) {
                          <ng-container>
                            <mat-icon><mat-spinner diameter="20"></mat-spinner></mat-icon>
                          </ng-container>
                        }
                      </button>

                      <button color="warn" class="ml-10 cancleButton" mat-raised-button matStepperPrevious type="button"
                        (click)="closeExpendedDiv(element)">
                        <b>Cancel</b>
                      </button>
                    </div>
                  </form>



                </div>
              </div>
            </td>
          </ng-container>

          <!-- End Expanded row -->



          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element " (click)="toggleRow(element)">
            <!-- expandedElement = expandedElement === element ? null : element; -->
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
      </div>
      }

      @if(userData?.length==0) {
      <div class="bg-card mat-elevation-z8  flex flex-col flex-auto justify-center home-banner ">


        <img style="width: 157px;height:96px;" class="banner-image " src="" [ngClass]=""
          onerror="this.onerror=null;">
        <div style="width: 184px;padding-left: 542px;text-align: center;">Nothing in User List

        </div>

      </div>
      }
    </div>
  </div>
</div>